<div class="row mb-2">

    <div class="col-12">
        <h2 style="margin: 0px;">Instalaciones</h2>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" (click)="verificarExisteCostoTransaccionParaInstalacion()">Crear <i
                class="fas fa-plus-circle fa-lg"></i></button>
    </div>


</div>


<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="form-group has-default">
            <label class="label-control mb-3">Buscar</label>
            <input type="text" class="form-control" #filtroTexto>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
            <label class="label-control">Filtrar por estado</label>
            <select class="form-control selectpicker show-tick" #filtroEstado data-style="btn btn-default" title=""
                data-size="7" data-live-search="false">
                <option value="">Ninguno</option>
                <option value="activa">Activa</option>
                <option value="inactiva">Inactiva</option>
            </select>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <button class="btn btn-primary btn-buscar" (click)="filtrarDatos()"><i class="fas fa-search fa-lg"></i></button>
    </div>

</div>

<div class="mb-4">
    <ngx-datatable class="material" [rows]="rows" [scrollbarH]="true" [messages]="messages"
        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="15">


        <ngx-datatable-column name="nombre_cliente">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span>Cliente</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="font-weight-bold">{{row.nombre_cliente}}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="nombre_plan">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span>Plan</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.nombre_plan}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="estado">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span>Estado</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <!-- {{row.estado}} -->
                <a *ngIf="row.estado == 'activa'"><i class="fas fa-check-circle fa-3x" style="color: green;"></i></a>
                <a *ngIf="row.estado == 'inactiva'"><i class="fas fa-times-circle fa-3x" style="color: red;"></i></a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="direccion">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span>Direccion</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.especificacion_direccion}}, {{row.barrio}}, {{row.municipio}}, {{row.departamento}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ip_asignada">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span>Fecha alta</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.fecha_alta_formateada}}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Acciones" [width]="225">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span>Acciones</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>

                <button class="btn btn-primary btn-sm"  data-toggle="tooltip"
                (click)="crearRecibo(row)" title="Recibo"><i class="fas fa-file-invoice fa-lg"></i></button>

                <a *ngIf="row.url_comprobante" class="btn btn-primary btn-sm" data-toggle="tooltip"
                    href="{{row.url_comprobante}}" target="_blank" title="Comprobante"><i
                        class="fas fa-file-download fa-lg"></i></a>

                <a class="btn btn-primary btn-sm" data-toggle="tooltip"
                    href="http://maps.google.com/maps?q={{row.latitud}},{{row.longitud}}" target="_blank"
                    title="Mapa"><i class="fas fa-location-arrow fa-lg"></i></a>

                <button class="btn btn-primary btn-sm" *ngIf="row.estado == 'activa'"
                    (click)="modificarInstalacion(row)" data-toggle="tooltip" title="Editar"><i
                        class="fas fa-edit fa-lg"></i></button>

                <button *ngIf="row.estado == 'activa'" class="btn btn-primary btn-sm" (click)="darDeBaja(row)"
                    data-toggle="tooltip" title="Dar de baja"><i class="fas fa-exclamation-triangle fa-lg"></i></button>

                <button class="btn btn-primary btn-sm" (click)="detallesInstalacion(row)" data-toggle="tooltip"
                    title="Detalles"><i class="fas fa-info-circle fa-lg"></i></button>


            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</div>