<p>prueba-datatable works!</p>




<div class="container">

    <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModal">Agregar</button>
    <br>

    <input class="mr-auto ml-auto" type="text" style="padding:8px;margin:15px auto;width:30%;"
        placeholder="Type to filter the name column..." (keyup)="updateFilter($event)" />

    <ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="ColumnMode.force"
        [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5">
    </ngx-datatable>

</div>
<br>
<br>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="profileForm" (submit)="onSubmit()">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input formControlName="inputName" type="text" class="form-control" id="inputName"
                            aria-describedby="emailHelp">
                    </div>

                    <div class="form-group">
                        <label for="inputPosition">Position</label>
                        <input formControlName="inputPosition" type="text" class="form-control" id="inputPosition">
                    </div>

                    <div class="form-group">
                        <label for="inputOffice">Office</label>
                        <input formControlName="inputOffice" type="text" class="form-control" id="inputOffice">
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>