<div class="title">


    <h3>Crear ruta</h3>


</div>

<form [formGroup]="formularioRuta">


    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="bmd-label-floating">Nombre de la ruta</label>
                <input type="text" class="form-control" formControlName="nombre_ruta">
            </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="label-control">Usuarios</label>
                <select class="form-control selectpicker show-tick" formControlName="id_usuario_cobrador" data-style="btn btn-default" title="Seleccione un usuario" data-size="7" data-live-search="true">
                    <option *ngFor="let empleado of listaEmpleados" value="{{empleado.id_usuario}}">{{empleado.nombre_completo}}</option>
                </select>
            </div>
        </div>

       


    </div>

    <br>


</form>


<div class="row">

    <div class="col-12">
        <h3>Instalaciones activas sin ruta</h3>
    </div>

    <div class="col-lg-3 col-sm-4">
        <div class="form-group has-default">
            <input type="text" class="form-control" (keyup)="updateFilter($event)" placeholder="Buscar">
        </div>
    </div>
</div>

<!-- inicia la tabla de la instalaciones activas -->
<div class="row">



   <div class="col-12">

    <ngx-datatable class="material" [rows]="rows" [scrollbarH]="true" [messages]="messages" [columnMode]="ColumnMode.force"
    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="15"
    [selected]="selected"
    [selectionType]="SelectionType.checkbox"
    [selectAllRowsOnPage]="false"
    (select)="onSelect($event)"
    >

    <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true"
          >          </ngx-datatable-column>

    <ngx-datatable-column name="nombre_cliente">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Cliente</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nombre_cliente}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="nombre_plan">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Plan</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nombre_plan}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="direccion">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Direccion</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.especificacion_direccion}}, {{row.barrio}}, {{row.municipio}}, {{row.departamento}}
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="ip_asignada">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Ip asignada</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.ip_asignada}}
        </ng-template>
    </ngx-datatable-column>



</ngx-datatable>


   </div>


</div>
<!-- finaliza la tabla de la instalaciones activas -->


<!-- empieza mapa -->
<br>

<div class="row">

    <div class="col-12">

        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom" [fullscreenControl]="true" [mapTypeControl]='true' >
            <!-- <agm-marker [latitude]="miLatitud" [longitude]="miLongitud"></agm-marker> -->
            <agm-direction 
            [visible]="mostrarRuta"
            [origin]="origin" 
            [destination]="destination"
            [waypoints]="waypoints"
          >
        </agm-direction>
        
          </agm-map>

    </div>

</div>


<!-- Finaliza mapa -->



<div class="row mt-2">
    <div class="col-12 mr-auto">
        <button class="btn btn-primary" (click)="onSubmit()"><i class="material-icons">save</i> Guardar</button>
        <a class="btn btn-primary" routerLink="/administrador/rutas/listar"><i class="material-icons">cancel</i>
            Cancelar</a>
    </div>
</div>