<div class="row mb-2">

    <div class="col-12">
        <h2 style="margin: 0px;">Planes</h2>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" routerLink="/administrador/planes/crear">Crear <i class="fas fa-plus-circle fa-lg"></i></button>
    </div>

</div>

<div class="row">
    <div class="col-lg-3 col-sm-4">
        <div class="form-group has-default">
            <input type="text" class="form-control" (keyup)="updateFilter($event)" placeholder="Buscar">
        </div>
    </div>
</div>

<div class="mb-4">
    <ngx-datatable class="material" [rows]="rows" [scrollbarH]="true" [messages]="messages" [columnMode]="ColumnMode.force"
    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="15">


    <ngx-datatable-column name="Nombre">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Nombre</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nombre}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="velocidad_subida">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Velocidad de subida</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.velocidad_subida}} Mbps
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="velocidad_bajada">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Velocidad de bajada</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.velocidad_bajada}} Mbps
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Acciones">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Acciones</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            
            
            <button class="btn btn-primary btn-sm" (click)="editarPlan(row)" data-toggle="tooltip"
                title="Editar"><i class="fas fa-edit fa-lg"></i></button>

                
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
</div>