<body class="page-header header-filter fondo-login">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" [formGroup]="formularioLogin">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Iniciar Sesion</h4>
              </div>
              <!-- <p class="description text-center">Or Be Classical</p> -->
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Usuario..." formControlName="inputUsuario">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Contraseña..." formControlName="inputPassword">
                </div>
              </div>
              <div class="footer text-center">
                <button class="btn btn-primary" (click)="iniciarSesion()">Acceder</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>