<div class="title">


    <h3>Detalles del deposito</h3>


</div>

<form [formGroup]="formularioBoleta">


    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="bmd-label-floating">Numero de boleta</label>
                <input type="number" class="form-control" formControlName="numero_boleta" readonly>
            </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="label-control">Fecha de deposito</label>
                <input type="text" class="form-control datetimepicker" formControlName="fecha_deposito" readonly>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="label-control">Banco</label>
                <input type="text" class="form-control datetimepicker" formControlName="nombre_banco" readonly>
            </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="bmd-label-floating">Monto depositado</label>
                <input type="number" class="form-control" formControlName="monto_depositado" readonly>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="bmd-label-floating">Total transacciones</label>
                <input type="number" class="form-control" formControlName="total_monto_transacciones" readonly>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="bmd-label-floating">Balance</label>
                <input type="number" class="form-control" formControlName="balance" readonly>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="bmd-label-floating">Estado</label>
                <input type="text" class="form-control" style="text-transform: capitalize;" formControlName="estado" readonly>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="bmd-label-floating">Registrada por:</label>
                <input type="text" class="form-control" style="text-transform: capitalize;" formControlName="creadaPor" readonly>
            </div>
        </div>


    </div>

    <br>


</form>





<!--------------------------------------------------- tabla transacciones ---------------------------- -->

<div class="title">
    <h2>Transacciones</h2>
</div>


<div class="mb-4">
    <ngx-datatable class="material" [rows]="rows" [scrollbarH]="true" [messages]="messages" [columnMode]="ColumnMode.force"
    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="15" >

    <ngx-datatable-column name="numero_factura">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>NO. FACTURA</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.numero_factura}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="numero_recibo">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>NO. RECIBO</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.numero_recibo}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="nombre_cliente">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>CLIENTE</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nombre_cliente}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="tipo_transaccion">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>TIPO TRANSACCION</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.tipo_transaccion}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="fecha_transaccion_usuario">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>FECHA_USUARIO</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.fecha_transaccion_usuario_formateada}}
        </ng-template>
    </ngx-datatable-column>
    

    <ngx-datatable-column name="total_transaccion">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>TOTAL COBRO</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.total_transaccion}}
        </ng-template>
    </ngx-datatable-column>

    


</ngx-datatable>
</div>


<!--------------------------------------------------- fin  tabla transacciones ---------------------------- -->






<div class="row">
    <div class="col-12 mr-auto">
        <a class="btn btn-primary" routerLink="/administrador/boletas-deposito/listar"><i class="fas fa-arrow-left"></i> Regresar</a>
    </div>
</div>