
.anchoLogo{
    width: 60%;
}

::ng-deep .section{
    min-height: 600px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    ::ng-deep .section{
        margin-top: 100px; 
        min-height: 200px;
    }

    .anchoLogo{
        width: 80%;
    }
    
  }