<div class="title">
    <h2>Instalaciones activas de {{nombreCliente}}</h2>
</div>

<div class="row">
    <div class="col-lg-3 col-sm-4">
        <div class="form-group has-default">
            <input type="text" class="form-control" (keyup)="updateFilter($event)" placeholder="Buscar">
        </div>
    </div>
</div>

<div class="mb-4">
    <ngx-datatable class="material" [rows]="rows" [scrollbarH]="true" [messages]="messages" [columnMode]="ColumnMode.force"
    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="15">

    <ngx-datatable-column name="direccion">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Direccion</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.especificacion_direccion}}, {{row.barrio}}, {{row.municipio}}, {{row.departamento}}
        </ng-template>
    </ngx-datatable-column>


    <!-- <ngx-datatable-column name="nombre_cliente">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Cliente</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nombre_cliente}}
        </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="nombre_plan">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Plan</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nombre_plan}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="ip_asignada">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Ip asignada</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.ip_asignada}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="nombre_queue">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Queue</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nombre_queue}}
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Acciones" [width]="225">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Acciones</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            
            
            <button class="btn btn-primary btn-sm" (click)="llenarDatosCobro(row)" data-toggle="tooltip"
            title="Siguiente"><i class="fas fa-arrow-circle-right fa-lg"></i></button>



        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
</div>